<!DOCTYPE html>
<html>
<head>
  <title>Excursion</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<div id="banner">
  <div id="wrapperh">
  <%#= image_tag ("logo.jpg") %>
    <div id="header">
       <%=  "Экскурсия" %>
    </div>
    <ul id="nav">
      <li><%= link_to "Главная", excurs_index_path  %></li>
      <li><%= link_to "2"  %></li>
      <li><%= link_to "3"  %></li>
      <li><%= link_to "4"  %></li>
      <li><%= link_to "BackEnd", "/tours"  %></li>
    </ul>
  </div>
</div>

  <div id="main">
    <%= yield %>
  </div>



</body>
</html>
